<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Links -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Local CSS-->
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->

    <!-- Heroku/Flask setup -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles-h.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
        .fa {
          padding: 30px;
          font-size: 50px;
          width: 50px;
          text-align: center;
          text-decoration: none;
          margin: 5px 2px;
        }

        .fa:hover {
          opacity: 0.7;
        }

        a.fa {
            text-decoration: none;
          }

          a.display-1 {
            text-decoration: none;
          }
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <!--<a class="navbar-brand" href="./home.html">Taniti</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <li class="nav-item px-5">
                <a class="nav-link" href="/">Taniti<span class="sr-only">(current)</span></a>
              </li>
          </li>
          <li class="nav-item px-5">
              <a class="nav-link" href="/about">About</a>
          </li>

          <li class="nav-item px-5">
              <a class="nav-link" href="/accommodations">Accommodations</a>
          </li>

          <li class="nav-item px-5">
           <a class="nav-link" href="/contact">Contact Us</a>
          </li>

          <li class="nav-item px-5">
              <a class="nav-link" href="/cusine">Cuisine</a>
          </li>

          <li class="nav-item px-5">

            <a class="nav-link" href="/events">Events</a>
          </li>
         
	  <li class="nav-item px-5">
              <a class="nav-link" href="/faq">FAQ</a>
          </li>

          <li class="nav-item px-5">
              <a class="nav-link" href="/history">History</a>
          </li>

          <li class="nav-item px-5">
                <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item px-5">
            <a class="nav-link" href="/photos">Photos</span></a>
          </li>

          <li class="nav-item px-5">
            <a class="nav-link" href="/transportation">Transportation</a>
          </li>

        </ul>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="topimage jumbotron">
        <div class="container top-pad">
          <h1 class="display-3 text-center text-primary">Welcome to Taniti</h1>
          <p class="text-center">“I fall asleep thinking there is no better elixir than travel. Old things always bored me, boredom always scared me, while travel—travel is a carnival of adventures.”</p>
          <p class="text-center"><a class="btn btn-primary btn-lg align-bottom" href="./history.html" role="button">Learn more &raquo;</a></p>
        </div>
        </div>
      </div>

      <div class="container main-container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-6 col-xs-12">
            <img src="{{ url_for('static', filename='people.jpeg') }}" class="img-thumbnail" style="height: 40vh; width: 50vh;">
          </div>
          <div class="col-md-6 col-xs-12">
              <div class="card">
                  <div class="card-header text-center display-4 font-weight-bold">
                      The Environment
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Welcome to the good life...</h5>
                    <p class="card-text">The stunning beauty of our natural surroundings will reduce stress immediately. With many different attractions such as active volcano's, lavish jungles, crystal clear water and beachs Taniti is a sight to see. Islands are slow and far away from many distractions which makes them ideal for any get away or retreat. Taniti also offers many packages specifically for business travel.</p>
                  </div>
                </div>
          </div>
        </div>
        </div>

        <div class="container main-container">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-md-6 col-xs-12">
                <img src="{{ url_for('static', filename='hotels.jpeg') }}" class="img-thumbnail" style="height: 40vh; width: 50vh;">
              </div>
              <div class="col-md-6 col-xs-12">
                  <div class="card">
                      <div class="card-header text-center display-4 font-weight-bold">
                        Hotels and Resorts
                      </div>
                      <div class="card-body">
                        <h5 class="card-title">The choice is yours...</h5>
                        <p class="card-text">Taniti offers a wide range of hotels, resorts, villa's and off the grid housing. You will find everything you need here including island packages, available discounts, and travel tips to get your started.</p>
                      </div>
                    </div>
                
                <p></p>
              </div>
            </div>
        </div>



        <div class="container main-container">
        <div class="row">
          <div class="col-md-4">
            <h2 class="text-center">The Island</h2>
            <img src="{{ url_for('static', filename='town.jpeg') }}" class="img-thumbnail" style="width: 35vh; height: 25vh;">
            <p>Taniti is a small, tropcial island in the Pacific. While the island has an area of less than 500 square miles, the terrain is varied and includes both sandy and rocky beaches, a small but safe harbor, lush tropical rainforests, and a mountainous interior.</p>
            <p><a class="btn btn-secondary align-center" href="./history.html" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2 class="text-center">Volcanos</h2>
            <img src="{{ url_for('static', filename='volcano.jpeg') }}" class="img-thumbnail" style="width: 35vh; height: 25vh;">
            <p>Taniti is home of a small active volcano which includes a breath taking trip through the rainforests and along the beaches of the island.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Activites and Events</h2>
            <img src="{{ url_for('static', filename='golf.jpeg') }}" class="img-thumbnail" style="width: 35vh; height: 25vh;">
            <p>From golfing along the beaches to ziplining in the jungle, Taniti has plenty to offer in terms of activies. Check out the events page for more details.</p>
            <p><a class="btn btn-secondary" href="./events.html" role="button">View details &raquo;</a></p>
          </div>
        </div>
        <hr>

      </div> <!-- /container -->

    </main>

    <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Fact of the Day</h5>
          <p>Taniti has an indigenous population of about 20,000. Until a recent increase in tourism, most the Tanitian economy was dominated by fishing or agriculture.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

          <!-- Content -->
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-pinterest"></a>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

            <!-- Content -->
            <a href="#" class="text-center display-1">Taniti</a>
          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright - Island of Taniti</div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
